@import "../../styles/variables";

.item-container {
    &__row {
        margin-left: 0;


        &-left {
            
            >img {
                width: 75px;
                height: 75px;
            }
        }


        &-right {
            &-button {
                background-color: transparent;
                color: $quantity;
                border: none;
                font-weight: 500;
                padding: 0
            }
        }




    }
}